*.pyc
*.class
*.exe
*.out
.netrwhist*
.vim/tmp
.vim/bundle/*/doc/tags
*~
.emacs.d/backup
.emacs.d/auto-save-list
.emacs.d/emms
.emacs.d/eshell
.emacs.d/ac-comphist.dat
.emacs.d/bookmarks
.emacs.d/archive
.emacs.d/elpa
.emacs.d/url
