[user]
    name = Rahul Kumar
    email = rahul@thoughtnirvana.com
[alias]
    l = log --stat --decorate --graph
    co = checkout
    ci = commit
    h = help
    a = add
    r = rm
    f = fetch --all -p
    d = diff
    s = status
    b = branch --color -a -v
    u = pull --ff-only --all -p
    p = push
    unstage = reset HEAD --
    last = log --stat -1 HEAD
    g = grep --break --heading --line-number
    lb = rev-parse --abbrev-ref HEAD
    rb = rev-parse --symbolic-full-name --abbrev-ref HEAD
[color]
    ui = auto
[merge]
    tool = vimdiff
[grep]
    extendRegexp = true
    lineNumber = true

[init]
	templatedir = ~/.git_template
[core]
	quotepath = false
