[user]
	name = Rahul Kumar
	email = rahulsinner@gmail.com
[alias]
    l = log --stat
    co = checkout
    ci = commit
    h = help
    a = add
    r = rm
    f = fetch
    d = diff
    s = status
    b = branch --color -a -v
    u = pull
    p = push
    unstage = reset HEAD --
    last = log --stat -1 HEAD
