*.pyc
*.class
*.exe
*.out
.netrwhist*
.vim/tmp
.vim/doc/tags
.vim/bundle
.vim/bundle/*/doc/tags

tags
*~
.emacs.d/backup
.emacs.d/auto-save-list
.emacs.d/emms
.emacs.d/eshell
.emacs.d/ac-comphist.dat
.emacs.d/bookmarks
.emacs.d/archive
.emacs.d/elpa
.emacs.d/url
.emacs.d/.orig-id-locations
.emacs.d/image-dired
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/session.*
.vim/.netrwbook
